.img-align {
    position: relative;
    right: 6%;
}

#fieldList {
    position: relative;
    right: 7%;
}

.list-item-text {
    color: white;
    max-width: 45%;
    position: relative;
    left: 27.5%;
}

.list-item-heading {
    color: white;
}

img {
    max-height: 10%;
    max-width: 10%;
    height: auto;
    width: auto;
    border-radius: 50%;
}

/* #content{
    color: white;
} */

#content #error{
    color: red;
}

table{
    display: inline-block;
    color: white;
    /* float: center; */
    /* margin-left: 25%; */
}

#right-sidebar #newButton{
    position: absolute;
    top: 10%;
    right: 3%;
}

table td{
    padding-right: 5%;
    border: thin solid white;
}

button{
    margin-right: 2%;
}