/* #content {
    padding-top: 12%;
    padding-bottom: 12%;
    color: white;
} */
#newForm{
    /* position: absolute; */
    left: 50%;
    margin-bottom: 3%;
}

#newForm input {
    margin-bottom: 2%;
}

#newForm #task {
    padding-right: 8%;
}

#newForm #notes {
    padding-right: 8%;
    padding-bottom: 5%;
}

#newForm form a {
    padding-left: 2%;
}
